language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
  - "iojs-v1.0.4" 
addons:
  code_climate:
    repo_token: INSERT_TOKEN_HERE
script: "npm run coverage"
after_script:
  - codeclimate-test-reporter < etc/lcov.info
